[submodule "tethysapp-tethys_app_store"]
	path = tethysapp-tethys_app_store
	url = https://github.com/Aquaveo/tethysapp-tethys_app_store
	branch = master
[submodule "tethysdash_plugin_cnrfc"]
	path = tethysdash_plugin_cnrfc
	url = https://github.com/FIRO-Tethys/tethysdash_plugin_cnrfc.git
[submodule "tethysdash_plugin_usace"]
	path = tethysdash_plugin_usace
	url = https://github.com/FIRO-Tethys/tethysdash_plugin_usace.git
[submodule "tethysdash_plugin_cw3e"]
	path = tethysdash_plugin_cw3e
	url = https://github.com/FIRO-Tethys/tethysdash_plugin_cw3e.git
[submodule "tethysapp-tethys_dash"]
	path = tethysapp-tethys_dash
	url = https://github.com/tethysplatform/tethysapp-tethys_dash.git
