[submodule "tethysapp-tethys_app_store"]
	path = tethysapp-tethys_app_store
	url = https://github.com/Aquaveo/tethysapp-tethys_app_store
	branch = master
[submodule "aquainsight"]
	path = aquainsight
	url = https://git.aquaveo.com/tethys/firo/aquainsight.git
[submodule "aquainsight_plugin_cnrfc"]
	path = aquainsight_plugin_cnrfc
	url = https://github.com/FIRO-Tethys/aquainsight_plugin_cnrfc.git
[submodule "aquainsight_plugin_usace"]
	path = aquainsight_plugin_usace
	url = https://github.com/FIRO-Tethys/aquainsight_plugin_usace.git
[submodule "aquainsight_plugin_cw3e"]
	path = aquainsight_plugin_cw3e
	url = https://github.com/FIRO-Tethys/aquainsight_plugin_cw3e.git
